/Bancomat/nbproject/private/
/Bancomat/Bancomat-war/nbproject/private/
/Bancomat/Bancomat-ejb/nbproject/private/
/WebApplication1/nbproject/private/
/Bancomat/build/
/Bancomat/dist/
/GalereSelenium/nbproject/private/